main{
    background-color: aqua;
}

footer{
    background-color: beige;
}

body{
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    min-height: 100svh;

    background-color: hsl(185, 75%, 39%);
    background-image: url("./images/bg-pattern-bottom.svg"),url("./images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    background-position: right bottom,left top;
    background-size: 40%,40%;

}

/* Remove list styles on ul */
ul[role='list']{
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
/*-----------------------*/

p{
    display: inline;
}






/*Styling of card*/
.card{
    max-width: 500px;
    padding: 20px;
    background-color: blue;
}