
footer{
    background-color: beige;
}

body{
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    min-height: 100svh;

    background-color: hsl(185, 75%, 39%);
    background-image: url("./images/bg-pattern-bottom.svg"),url("./images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    background-position: right 0% bottom -200%, left 0% top -200%;
    background-size: 40%, 40%;
}

/* Remove list styles on ul */
li{
    list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
}
/*-----------------------*/

p{
    display: inline;
}





/*Styling of card*/
.card{
    background-image: url("./images/bg-pattern-card.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 90%;

    max-width: 20rem;
    padding: 20px;
    text-align: center;
    width: 100rem;
}

/* Styling of Content Card*/
.content{
    display: inline;
    padding-top: 100px;
}